<div class="kalei-styleguide-menu-wrapper">

    <a class="kalei-styleguide-menu-heading" href="#"><%= menuTitle %></a>

    <div class="kalei-styleguide-menu-items">

        <ul class="kalei-styleguide-menu kalei-clearfix">

            <li data-sheet="<%= entry %>">
                <a class="kalei-styleguide-menu-link js-kalei-home" href="#" ><%= entry %></a>
               <div class="kalei-sheet-submenu"></div>
            </li>

            <% _.each(menus, function (menu) { %>
            <li>
                <%= menu.category %>

                <ul class="kalei-styleguide-menu-children">
                    <% _.each(menu.sheets, function (sheet) { %>

                    <li data-sheet="<%= sheet %>"><a class="kalei-styleguide-menu-link" href="#/style/<%= sheet %>"><%= sheet %></a>
                        <div class="kalei-sheet-submenu">
                        </div>
                    </li>

                    <% }); %>
                </ul>
            </li>
            <% }); %>

        </ul>

    </div>

</div>